body {
  font: x-small Arial, Helvetica, sans-serif;
  scrollbar-base-color: #ffffff;
  scrollbar-face-color: #2e8b57;
  scrollbar-highlight-color: #ffffff;
  scrollbar-3dlight-color: #3c9c6a;
  scrollbar-darkshadow-color: #3c9c6a;
  scrollbar-shadow-color: #ffffff;
  scrollbar-arrow-color: #ffffff;
  scrollbar-track-color: #3c9c6a;
}
.menu0 {
  color: #006633;
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  background-color: #facb09;
  letter-spacing: 2px;
}
.menu1 {
  color: #ffffff;
  font-size: x-small;
  font-family: Tahoma;
  text-decoration: none;
}
.tree {
  font-size: x-small;
  font-family: Tahoma;
  color: #ffffff;
  text-decoration: none;
  cursor: hend;
  margin-left: 17px;
  margin-top: 0px;
}
.tree1 {
  font-size: x-small;
  font-family: Tahoma;
  color: #ffffff;
  text-decoration: none;
}
.logo {
  font-size: xx-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e3f69;
  text-decoration: none;
}
.data {
  font-size: xx-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #f7a900;
  text-decoration: none;
}
a {
  color: Green;
  text-decoration: underline;
}
a:hover {
  color: #b22222;
  text-decoration: none;
}
.top {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: #006633;
  font-size: large;
  letter-spacing: 5px;
  font-variant: small-caps;
}
.top1 {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #006633;
  font-weight: bold;
}
.top_bar {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: White;
  text-decoration: none;
}
.top_bottom {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
  color: White;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
}
h4 {
  color: #b22222;
  font-size: small;
}
hr {
  color: #facb09;
  border: Gray;
}
b {
  color: #0148b2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-indent: 0.5cm;
  text-align: justify;
  font-size: x-small;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: justify;
}
ul {
  font-size: x-small;
  list-style-type: circle;
}
.ul1 {
  font-size: x-small;
  list-style-type: square;
}
.navigator {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #2e3f69;
  text-decoration: none;
}
.navigator1 {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #b22222;
}
h5 {
  color: #003399;
  font-size: x-small;
}
#foldheader {
  color: #ffffff;
  font-size: x-small;
  font-family: Tahoma;
  text-decoration: none;
  cursor: default;
  list-style-image: url(images/closed.gif);
}
#foldinglist {
  list-style-image: url(images/text.gif);
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  color: #006633;
  text-decoration: none;
  cursor: default;
}
.fon {
  background-color: #3c9c6a;
}
.fon0 {
  background-color: #006633;
}
.fon1 {
  background-color: #facb09;
}
.fon2 {
  background-color: White;
}
td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  text-align: justify;
}
.vbmenu_activ {
  background-color: #c6e7ad;
  font-weight: bold;
  color: #b22222;
  font-size: 12px;
  font: tahoma, verdana, geneva, lucida, "lucida grande", arial, helvetica,
    sans-serif;
}
.vbmenu_noactiv {
  background-color: #f5f5ff;
  color: Green;
  font-size: 12px;
  font: tahoma, verdana, geneva, lucida, "lucida grande", arial, helvetica,
    sans-serif;
}
.vbmenu {
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 3px;
  font: 11px tahoma, verdana, geneva, lucida, arial, helvetica, sans-serif;
  color: #ffffff;
  padding-top: 3px;
  white-space: nowrap;
  background-color: #82cb4b;
}
.vbmenu_table {
  border-right: 1px solid #0148b2;
  border-top: 1px solid #0148b2;
  border-left: 1px solid #0148b2;
  border-bottom: 1px solid #0148b2;
}
.toplevel {
  font-size: 11px;
  vertical-align: middle;
  color: #ffffff;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.level {
  font-size: 11px;
  vertical-align: middle;
  color: #006400;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.urlrow {
  font-size: 11px;
  vertical-align: middle;
  color: #006400;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: White;
}
.cursor {
  cursor: hand;
}
.forum_hr {
  color: #e0e0e0;
  height: 1;
}

.forum_title {
  font-weight: bold;
  text-decoration: underline;
  color: #002952;
}
